:root {
  --tile-size: clamp(10px, 3.5vw, 22px);
  --neon-red: #ff2a6d;
  --neon-blue: #05d9e8;
}

body {
  background: #01012b;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 10px;
}

.top-hud {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar-container {
  width: 150px;
  height: 20px;
  background: #333;
  border: 2px solid var(--neon-blue);
  position: relative;
  border-radius: 10px;
}

.bar {
  height: 100%;
  transition: 0.3s;
  border-radius: 8px;
}
.hp-bar {
  background: var(--neon-red);
  box-shadow: 0 0 10px var(--neon-red);
}

.bar-container span {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.mobile-ui {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.d-btn {
  width: 55px;
  height: 55px;
  background: rgba(5, 217, 232, 0.2);
  border: 2px solid var(--neon-blue);
  color: white;
  border-radius: 12px;
  font-size: 20px;
}

.action-btn {
  width: 80px;
  height: 80px;
  background: rgba(255, 42, 109, 0.2);
  border: 3px solid var(--neon-red);
  border-radius: 50%;
  font-size: 32px;
  box-shadow: 0 0 15px var(--neon-red);
}

.action-btn:active {
  transform: scale(0.9);
}

.board {
  display: grid;
  grid-template-columns: repeat(30, var(--tile-size));
  background: #000;
  border: 2px solid #1a1a4e;
}

.log {
  color: #f1c40f;
  font-size: 14px;
  height: 20px;
  text-shadow: 0 0 5px #000;
}
